<!DOCTYPE html>
<html>
<head>
  <title>RedboothOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if logged_in? %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", sign_out_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Redbooth", "/auth/redbooth", id: "sign_in" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
